from launch import LaunchDescription
from launch_ros.actions import Node
import os

def generate_launch_description():
    config_file = os.path.join(os.getcwd(), 'src/task03/config/task03.yaml')

    return LaunchDescription([
        Node(
            package='task03',
            executable='trigger_service',
            name='trigger_service',
            output='screen',
            emulate_tty=True,
            parameters=[
                config_file
            ]
        )
    ])
